## Homework

### Part 1

In [11]:
import pandas as pd

In [12]:
data = {
    "revenues": [120, 250, 80, 310, 95],
    "tax_rate": 0.18,
    "discount_rate": 0.10
    }

In [14]:
r = revenues

In [16]:
df = pd.DataFrame(data)
df.head()

   revenues  tax_rate  discount_rate
0       120      0.18            0.1
1       250      0.18            0.1
2        80      0.18            0.1
3       310      0.18            0.1
4        95      0.18            0.1

In [18]:
df['revenues_with_tax'] = df['revenues'] * (1 + df['tax_rate'])
df['revenues_with_tax']

0    141.6
1    295.0
2     94.4
3    365.8
4    112.1
Name: revenues_with_tax, dtype: float64

In [19]:
df['final_revenues'] = df['revenues_with_tax'] * (1 - df['discount_rate'])
df['final_revenues']

0    127.44
1    265.50
2     84.96
3    329.22
4    100.89
Name: final_revenues, dtype: float64

In [21]:
df['greater_100'] = df['revenues'] > 100

df['greater_100']

0     True
1     True
2    False
3     True
4    False
Name: greater_100, dtype: bool

In [22]:
df['between_100_300'] = (df['revenues'] > 100) & (df['revenues'] < 300)
df['between_100_300']

0     True
1     True
2    False
3    False
4    False
Name: between_100_300, dtype: bool

If we don't put the parentheses, the calculation result will be incorrect.

### Part 2

In [23]:
sales = [120, 250, 80, 310, 95]

### Part 4

In [24]:
customer_ids = [1, 2, 3, 3, 4, 5, 5, 6]

In [25]:
customer_set = set(customer_ids)    
customer_set

{1, 2, 3, 4, 5, 6}

In [26]:
customer_ids

[1, 2, 3, 3, 4, 5, 5, 6]

In [27]:
len(customer_ids)

8

In [28]:
len(customer_set)

6